#header {
	position: static;
}
#wrapper {

}

body {
	background-image: none;
}

ul#navlinks {
	clear: both;
	text-align: center;
	margin: 0 -0.5em;
}

#wrapper {
	padding: 1em 0.5em;
}

h1 {
	text-align: center;
}

ul#navlinks li {
	width: 100%;
}

#splash {
	margin: 0 -0.5em;
	background-image: url(splash1-mobile.jpg);
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: center top;
	height: 365px;
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
    #splash {
    	background-image: url(splash1-desktop.jpg);
    	background-size: cover;
    }
}

.desktop-only {
	display: none;
}

table.hotel-info {
	font-size: 90%;
}

/* EVENTS PAGE */

#welcome-message {
	font-size: 1.5em;
}